# http://www.gnu.org/software/automake
Makefile.in

# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/depcomp
/install-sh
/missing
/stamp-h1
/config.guess
/config.h.in
/config.rpath
/config.sub

# C-Objects
*.o

# special directories
/po
/m4
src/.deps/
src/.dirstamp

# Log files
*.log

# Documents
ABOUT-NLS
INSTALL

# Binaries
ptouch-gtk
ptouch-print
